<div class="shop-by-categories-wrapper">

    <div class="container-fluid">
        <div class="category-heading">
            <h2>Shop by Categories</h2>
            <div class="counter">
                <span class="current">1</span> / <span class="total">3</span>
            </div>
        </div>
        <div class="category-inner-wrapper">
            <div class="catgory-slider">
                <div class="category-item">
                    <a href="#">
                        <div class="category-image">
                            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img" />
                        </div>
                        <div class="category-content">
                            <div class="in-left">
                                <h3>Accessories</h3>
                                <span>13 Items</span>
                            </div>
                            <div class="in-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 14 13">
                                    <path fill="currentColor" d="M6.78594.789062c.16406-.145833.31901-.145833.46484 0L12.9656 6.53125c.1641.14583.1641.29167 0 .4375L7.25078 12.7109c-.14583.1459-.30078.1459-.46484 0l-.54688-.5468c-.05469-.0547-.08203-.1276-.08203-.2188 0-.0911.02734-.1732.08203-.2461l4.23824-4.23826H1.15312c-.218745 0-.32812-.10938-.32812-.32813v-.76562c0-.21875.109375-.32813.32812-.32813h9.32418L6.23906 1.80078c-.14583-.16406-.14583-.31901 0-.46484l.54688-.546878z"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="#">
                        <div class="category-image">
                            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img" />
                        </div>
                        <div class="category-content">
                            <div class="in-left">
                                <h3>Accessories</h3>
                                <span>13 Items</span>
                            </div>
                            <div class="in-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 14 13">
                                    <path fill="currentColor" d="M6.78594.789062c.16406-.145833.31901-.145833.46484 0L12.9656 6.53125c.1641.14583.1641.29167 0 .4375L7.25078 12.7109c-.14583.1459-.30078.1459-.46484 0l-.54688-.5468c-.05469-.0547-.08203-.1276-.08203-.2188 0-.0911.02734-.1732.08203-.2461l4.23824-4.23826H1.15312c-.218745 0-.32812-.10938-.32812-.32813v-.76562c0-.21875.109375-.32813.32812-.32813h9.32418L6.23906 1.80078c-.14583-.16406-.14583-.31901 0-.46484l.54688-.546878z"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="#">
                        <div class="category-image">
                            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img" />
                        </div>
                        <div class="category-content">
                            <div class="in-left">
                                <h3>Accessories</h3>
                                <span>13 Items</span>
                            </div>
                            <div class="in-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 14 13">
                                    <path fill="currentColor" d="M6.78594.789062c.16406-.145833.31901-.145833.46484 0L12.9656 6.53125c.1641.14583.1641.29167 0 .4375L7.25078 12.7109c-.14583.1459-.30078.1459-.46484 0l-.54688-.5468c-.05469-.0547-.08203-.1276-.08203-.2188 0-.0911.02734-.1732.08203-.2461l4.23824-4.23826H1.15312c-.218745 0-.32812-.10938-.32812-.32813v-.76562c0-.21875.109375-.32813.32812-.32813h9.32418L6.23906 1.80078c-.14583-.16406-.14583-.31901 0-.46484l.54688-.546878z"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="#">
                        <div class="category-image">
                            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img" />
                        </div>
                        <div class="category-content">
                            <div class="in-left">
                                <h3>Accessories</h3>
                                <span>13 Items</span>
                            </div>
                            <div class="in-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 14 13">
                                    <path fill="currentColor" d="M6.78594.789062c.16406-.145833.31901-.145833.46484 0L12.9656 6.53125c.1641.14583.1641.29167 0 .4375L7.25078 12.7109c-.14583.1459-.30078.1459-.46484 0l-.54688-.5468c-.05469-.0547-.08203-.1276-.08203-.2188 0-.0911.02734-.1732.08203-.2461l4.23824-4.23826H1.15312c-.218745 0-.32812-.10938-.32812-.32813v-.76562c0-.21875.109375-.32813.32812-.32813h9.32418L6.23906 1.80078c-.14583-.16406-.14583-.31901 0-.46484l.54688-.546878z"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="category-item">
                    <a href="#">
                        <div class="category-image">
                            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img" />
                        </div>
                        <div class="category-content">
                            <div class="in-left">
                                <h3>Accessories</h3>
                                <span>13 Items</span>
                            </div>
                            <div class="in-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 14 13">
                                    <path fill="currentColor" d="M6.78594.789062c.16406-.145833.31901-.145833.46484 0L12.9656 6.53125c.1641.14583.1641.29167 0 .4375L7.25078 12.7109c-.14583.1459-.30078.1459-.46484 0l-.54688-.5468c-.05469-.0547-.08203-.1276-.08203-.2188 0-.0911.02734-.1732.08203-.2461l4.23824-4.23826H1.15312c-.218745 0-.32812-.10938-.32812-.32813v-.76562c0-.21875.109375-.32813.32812-.32813h9.32418L6.23906 1.80078c-.14583-.16406-.14583-.31901 0-.46484l.54688-.546878z"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div class="category-item-asif">
    <a href="#">
        <div class="category-image">
            <img src="https://demo.minimog.co/cdn/shop/files/c1.jpg" alt="img">
        </div>
        <div class="category-btn">
            <button href="#">my button</button>
        </div>
    </a>
</div>

<style>
.category-item-asif a{
    width: 300px;
    height: 500px;
}

.category-item-asif a{
    display: block;
    background-color:#000;
    position: relative;
}

.category-item-asif a::after{
    background-color:gray;
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    transition: all .5s;
}
.category-item-asif:hover a::after{
   transform: scale(1.10);
}
.category-item-asif .category-image{
    transition: all .5s;
}
.category-item-asif:hover .category-image img{
    transform: scale(.90);
}
.category-btn button{

    position: relative;
    z-index: 1;
}
.category-item-asif:hover .category-btn button{    
    color:white;
    background-color: #000
}
    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }
    .category-inner-wrapper{
        position: relative;
        margin-right: -60px;
    }
    .shop-by-categories-wrapper {
        padding: 60px 0 30px;
        overflow: hidden;
    }
    .shop-by-categories-wrapper .slick-list {
        padding-left: 0 !important;
    }
    .category-heading {
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .category-heading h2 {
        font-size: 32px;
        font-weight: 500;
        margin: 0 0 0;
    }
    .category-item {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .category-item a {
        display: block;
        text-decoration: none;
        position: relative;
    }
    .category-item a::after{
        content: "";
        background: #f7f7f7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
    }
    .category-image {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    .category-image img {
        width: 100%;
        display: block;
        transition: all 0.5s;
        max-height: 450px;
        object-fit: cover;
        object-position: bottom center;
    }
    .category-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .category-content .in-left {
        padding-right: 20px;
    }
    .category-content .in-left h3 {
        margin: 0 0 0;
        color: #222;
        font-size: 24px;
    }
    .category-content .in-left span {
        display: block;
        color: #777;
        font-size: 16px;
    }
    .category-content .in-right svg {
        color: #222;
        display: block;
        width: 46px;
        height: 46px;
        background: #fff;
        padding: 16px;
        border-radius: 50%;
        transition: all 0.2s;
    }

    .category-content .in-right svg:hover{
        transform: scale(1.11);
    }
    .category-item:hover .category-image img{
        transform: scale(0.95);
    }
    .category-item:hover a::after{
        transform: scale(1.05);
    }
    .category-item:hover .category-content .in-right svg{
        background: #000;
        color: #fff;
    }

    /* SLICK ARROWS */
    .catgory-slider .slick-arrow {
        position: absolute;
        top: -50px;
        right: 120px;
        z-index: 2;
        cursor: pointer;
    }
    .catgory-slider .arrow-right.slick-arrow {
        right: 50px;
    }
    .category-heading .counter {
        border: 1px solid #ddd;
        padding: 6px 40px;
        margin-right: -40px;
        border-radius: 25px;
    }

    @media(max-width: 767.98px){
        
        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
        }
        .category-item {
            padding-left: 10px;
            padding-right: 10px;
        }
        .category-heading{
            display: block;
            text-align: center;
        }
        .category-heading h2 {
            font-size: 26px;
            margin: 0 0 20px;
        }
        .catgory-slider .slick-arrow {
            right: calc(100% - 60px);
        }
        .catgory-slider .arrow-right.slick-arrow {
            right: 100px;
        }
        .category-heading .counter {
            margin-right: 0px;
        }
    }

</style>



{% schema %}
{
    "name": "Shop by Categories Ahmad",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Shop by Categories Ahmad"
            }
        ]
}
{% endschema %}