<div class="main-banner-wrapper">
  <div class="banner-inner-wrapper">
    <div class="banner-slider">
      <div class="banner-slide">
        <div class="banner-img">
          <img src="{{ block.settings.image | img_url: '1000x' }}" alt="img">
          <video autoplay muted loop>
            <source src="{{ block.settings.video_url_mp4 }}" type="video/mp4">
          </video>
        </div>
        <div class="banner-content">
          <div class="text">
            <h2>Image Slider</h2>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look like readable English.
            </p>
            <a href="#" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="banner-slide">
        <div class="banner-img"></div>
        <div class="banner-content">
          <div class="text">
            <h2>Video Slider</h2>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look like readable English.
            </p>
            <a href="#" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
